name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          # Username integrated directly
          username: mohsinmujahid
          # Your Access Token integrated directly
          password: dckr_pat_T6r_OKcsVuc9oLql--UfUneFS9Y

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # Repository destination integrated directly
          tags: mohsinmujahid/headswap-slim:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
